
/* 
	WEBINARS
*/

#bootstrap-override #trainings-page,
#bootstrap-override #edit-training-page{
	min-width: 1100px;
	margin: 30px auto;
}
#bootstrap-override .btn{
	color: #ffffff;
	background-color: #ED8B00;
}
#bootstrap-override .btn:hover{
	background-color: #ba6d00;
}
.alert{
	margin-top: 20px;
}

/*---- Login (index.html) ----*/
#webinars-login-page .container{
	width: 400px;
    margin: 30px auto;
}
#webinars-login-page form{
	margin-top: 20px;
}
#webinars-login-page form div {
    margin: 10px 0;
}

/*---- edit-trainings.html ----*/
.section{
	border-bottom: 1px solid gray;
	margin: 10px 0;
	padding: 20px;
}
#user-image{
	display: none;
	margin-top: 20px;

	min-height: 200px;
	max-height: 300px;

	min-width: 333px;
	max-width: 500px;
}

#edit-training-page .table-div{
	background-color: #f5f5f5;
	padding: 10px;
}
#edit-training-page .table-hover>tbody>tr:hover{
	background-color: #ffffff;
}
.add-training,
.no-trainings{
	text-align: center;
}
.add-training p,
.no-trainings p{
	margin: 25px auto;
}
#bootstrap-override .add-training:hover,
#bootstrap-override .no-trainings:hover,
#edit-training-page #form-row:hover{
	background-color: inherit !important;
}
#datetimepicker{
	width: 250px;
}
#form-buttons{
	margin: 30px;
}
#form-buttons .btn{
	margin: 0 10px;
}


/*---- Tables ----*/

.table-div{
	min-width: 980px;
}
.table{
	font-size: 16px;
}
input{
	padding: 4px 6px;
}

/* Awesome fonts icons */
#bootstrap-override .fa{
	color: #ed8b00;
	font-size: 22px;
}
#bootstrap-override .fa:hover{
	color: #ba6d00;
}
.button-col{
	text-align: center;\
	min-width: 219px;
}
#form-row button{
	margin-left: 10px;
}
#bootstrap-override .invalid{
	border: 2px solid red;
}
.invalid-text{
	color: red;
	margin-top: 5px;
}

